# iGAT DB (scholarship tables now in main igat database)
# Copy this file to .env. Then run: bun run dev
TUNNEL_HOSTNAME=trial-db.igat.com.ph

DATABASE_URL=postgresql://lgu_admin:eU5YDygexu6cmMz8pznzen8QIHzDA7d4@localhost:5433/lgu_system

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5001
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:5001
NEXT_PUBLIC_API_URL=http://localhost:5001

# Resend
RESEND_API_KEY=re_2a1rpKrB_HL8RLQaX9SCXhshrTWskF7Rf
RESEND_FROM_EMAIL=scholarship-no-reply@igat.com.ph